*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
	background: white;
	height: 100%;
	width: 100%;
}
.nav-bar {
	background: #1b1f22;
	display: flex;
	align-items: flex-end;
	justify-content: right;
	padding-top: 20px;
	padding-right: 80px;
	flex-direction: column;
}
.nav ul {
	flex: 1;
	text-align: center;
}
.nav ul li {
	display: inline-block;
	list-style: none;
	margin: 10px 25px;
	transition: transform 1s;
}
.nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 14px;
}
.nav ul li:hover {
	transform: scale(1.08);
}

form{
	
	display: flex;
	justify-content:space-around;
	align-items:center;
	margin: 20px 0;
	
}
.search_box{
	position: relative;
	width: 300px;
	height: 37px;
	border-radius: 30px;
	margin-left: 10px;
	margin-right: 15px;
}
.search_box input {
	width: 100%;
	height: 37px;
	border-radius: 30px;
	border: none;
	padding-left:30px;
	outline: none;
	position: absolute;
	font-size: 13px;
	display: block;
	right: 0;
	top: 0;
}
.search_box button{
	background: white;
	border-radius: 30px;
	border: none;
	padding:3px 7px;
	position: absolute;
	right: 0;
	top: 0;
	
}

.Auteurs{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 20px;
}
.Auteurs h2 {
	color: #1b1f22;
	font-weight: 500;
	font-size: 24px;
	margin: 25px 12px;
	text-align: center;
}
table {
	width: 95vw;
	border-collapse: collapse;
	border-radius: 30px;
	border-collapse: collapse;
	border-spacing: 0;
	border-radius: 12px 12px 0 0;
	overflow: hidden;
	text-align: center;
	margin-bottom: 20px;
   
}
th {
	background-color: #1b1f22;
	color: white;
	font-weight: 400;
	font-size: 15px;
	
}

table td,
th {
	padding: 7px 13px;
	font-size: 15px;

}
tr:nth-child(odd) {
	background-color: #eeeeee;
}
tbody tr:hover.selected td,
tbody tr:hover td {
	cursor: pointer;
	background-color:  #6B8A8D;
	color: white;
}


